/* Navigation bar */
@media (max-width: 1026px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
      display:block !important;
  }
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar {
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    border: 0;
    font-family: "Avenir Next" !important;
    font-size:2.5vmin;
}

.navbar li a, .navbar .navbar-brand {
    color: white !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: black !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

/* HackerPack color*/
.hred{
  color: #C21C31;
  font-family: "Avenir Next" !important;
  font-weight: bold;
}

.hgreen{
  color: #589E07;
  font-family: "Avenir Next" !important;
  font-weight: bold;
}

/* logo */
.logo{
  margin-top: 30px;
  color:white; 
}

#content {
  padding-top: 30px;
}
#logo{
  padding-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width:50vmin;
  max-height:50vmin;
}

#logoParagraph{
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  color: black;
}


#register{
  border: solid black;
  border-width: thin;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  text-align: center;
  padding-top: 30px;


}

#signUp{
  padding-top: 30px;
  text-align: center;
  display: block;
}

#meetTheTeam{
padding-top: 30px;
  margin-top: 15%;
  text-align: center;
  margin-bottom: 60%;
}

#profName{
  margin-top: 5px;
  margin-bottom: 5px;
}

p, h1, h3, h4, label{
  color: black;
  text-align: center;
  font-family: "Avenir Next", Monospace;
}

h1{
  font-size: 60px;
  margin-bottom: 0;
}
h4{
  font-weight: normal;
  margin-top: 30;
  font-size: 5vmin;
}


label{
  font-size: 25px;
}

#person1{
  text-align: center;
  float:left;
  width:30%;
  overflow:hidden;
  margin-left: 10%;
  padding-right: 100px;
  padding-top: 40px;
}
#person2{
  text-align: center;
  float:right;
  width:30%;
  overflow:hidden;
  padding-left: 100px;
  margin-right: 10%;
  padding-top: 40px;
}

#dollars{
  font-size: 28px;
  color: green;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

#button {
  font-family:"Andale Mono", Monospace;
  font-size: 20px;
}









/*-------------------------------------------*/

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height:100%;
}


body {
  margin:0;
  background-image:url("images/background2.jpg");
  font-size:1.3em;
  color:#333;
  font-family:'Open Sans', sans-serif;
}

section {
 float:left;
  width:100%;
  background:#fff;
  position:relative;
  box-shadow:0 0 5px 0px #333;
 /* background-image: url('background.png'); WHAT BACKGROUND HERE??? after landing?? */

}


/* the important styles */

.arrow-wrap {
  position:absolute;
  z-index:1;
  left:50%;
  top:-5em;
  margin-left:-5em;
  background:rgba(128, 128, 128, 0.5);
  width:10em;
  height:10em;
  padding:4em 2em;
  border-radius:50%;
  font-size:0.5em;
  display:block;
/*  box-shadow:0px 0px 5px 0px rgba(128, 128, 128, 0.5);*/
}

.arrow {
  float:left;
  position:relative;
  width: 0px;
height: 0px;
border-style: solid;
border-width: 3em 3em 0 3em;
border-color: rgba(128, 128, 128, 0.5) transparent transparent transparent;
  -webkit-transform:rotate(360deg)
}

.arrow:after {
  content:'';
  position:absolute;
  top:-3.2em;
  left:-3em;
  width: 0px;
height: 0px;
border-style: solid;
border-width: 3em 3em 0 3em;
border-color: rgba(255, 255, 255, 0.9) transparent transparent transparent;
  -webkit-transform:rotate(360deg)
}


.hint {
  position:absolute;
  top:0.6em;
  width:100%;
  left:0;
  font-size:2em;
  font-style:italic;
  text-align:center;
  color:#fff;
  opacity:0;
}


.arrow-wrap:hover .hint {
  opacity:1;
}


  @-webkit-keyframes arrows {
    0% { top:0; }
    10% { top:12%; }
    20% { top:0; }
    30% { top:12%; }
    40% { top:-12%; }
    50% { top:12%; }
    60% { top:0; }
    70% { top:12%; }
    80% { top:-12%; }
    90% { top:12%; }
    100% { top:0; }
  }
  
  .arrow-wrap .arrow {
    -webkit-animation: arrows 2.8s 0.4s;
    -webkit-animation-delay: 3s;
  }





/*  this is the unimportant CSS used just to layout the content  */



header {
  float:left;
  width:100%;
  padding:2em 4em;
  color:#fff;
  height:calc(100% - 3em);
}

header h1 {
  margin:0;
}
header h3 {
  margin:0;
  color: #56dcee ;
}

header a {
  color:#56dcee;
  opacity:0.5;
  text-decoration:none;
}

header a:hover {
  color:#333;
  opacity:1;
}

/*
.content {
  float:left;
  /*width:70%;*/
  margin:0 15%;
  padding:2em 0;
}

h1 {
  font-family:"Avenir Next", sans-serif;
  font-weight:300;
  font-size:1vmin;
}

h2, h3 {
  font-family:"Avenir Next", sans-serif;
  font-weight:300;
  font-size:1.5em;
  margin-top:2em;
}

pre {
  background:#ededed;
  padding:1em;
}

p {
  color:#555;
  font-size:0.9em;
}

p a {
  color:#14b5d1;
  text-decoration:none;
}*/




/*------POP UP----------*/
body {
  font-family: Arial, sans-serif;
  background: url(4.jpg);
  background-size: cover;
}


.box {
  /*width: 20%;*/
  margin: 0 auto;
 /* background: rgba(255,255,255,0.2);*/
  padding: 15px;
 /* border: 2px solid #fff;*/
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.button {
  font-size: 1em;
  padding: 10px;
  color: black;
  border: 2px solid green;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: #CC0000;
    border: 2px solid #CC0000;
  color: white;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: orange;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}