/*--------------------------------This should be the same for all tabs--------------------------------*/
html, body {
    		height: 100%;
    		margin: 0;
        font-family: "Avenir Next";
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    	}

/* two main colors*/
.hred{
  color: #C21C31;
  font-family: "Avenir Next" !important;
  font-weight: bold;
}

.hgreen{
  color: #589E07;
  font-family: "Avenir Next" !important;
  font-weight: bold;
}

/* Navigation bar */
.navbar {
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    border: 0;
    font-family: "Avenir Next" !important;
}

.navbar li a, .navbar .navbar-brand {
    color: white !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: black !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}
/*------------------------------------------------End---------------------------------------------------*/

/*.jumbotron {  
	background-image:url('../../images/hacker.jpg');
	color: red;
  font-size: bold;
	no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	width: 100%;
    min-height:100%
}*/

body.main-page{
  background-image:url("images/background2.jpg");
}

.opaque{
  background-color: rgba(128, 128, 128, 0.09); 
}

/* Body for main page */
img.logos{ 
  position:relative;
  height:auto;
  width:auto;
  max-width:40%;
  max-height:40%;
}

.container-table {
    display: table;
    height:100%;
}

.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

.title{
  font-size:10vmin;
}

.subtitle {
  font-size:3.5vmin;
  color:white;
}

/* For the terminology tab */
.terminology{
  padding-top: 65px;
  padding-left: 65px;
  padding-right: 65px;
  font-family: "Avenir Next" !important;
}
